<ion-header translucent>
  <ion-toolbar>
    <ion-title>Todo Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">

      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="n">New</ion-select-option>
          <ion-select-option value="i">In Progress</ion-select-option>
        </ion-select>
      </ion-item>


      <ion-item>
        <ion-label>Blocking todos</ion-label>
        <ion-select multiple="true" cancelText="Cancel" okText="Okay">

          
          <ion-select-option *ngFor="let item of [1,2,3,4,5,6,7,8,8,9,10]"
          value="{{item}}"
          >{{item}}</ion-select-option>
          
          
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Due Date</ion-label>
        <ion-datetime value="1990-02-19" 
        displayFormat="MMM DD, YYYY HH:mm"
        placeholder="Select Date"></ion-datetime>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Create</ion-button>
    </div>

  </form>
</ion-content>
